<!DOCTYPE html>
<html>
    <head>
        <script src="https://code.angularjs.org/1.4.6/angular.min.js"></script>
        <script src="app.js"></script>
    </head>

    <body ng-app="myApp">
        <div ng-controller="myCtrl">
            Current Time: {{curtime}} <br><br>
            {{timeoutInfo}} <br><br>
            <br><br>
            <p style="text-align: Center;">
                <img ng-src="{{pngSource}}"
                    ng-mouseenter="mouseEnterPng()"
                    ng-mouseleave="mouseLeavePng()"/><br>
                {{panelInfo}}<br><br>

                <button ng-click="checkReadiness()"> Load Ohter Pictures </button>
            </p>

            <div ng-if="srcReady" align="center">
                <img ng-repeat="url in urls" ng-src="{{url}}" 
                    style="width:100px; height:100px"
                    />
                    
            </div>
        </div>
    </body>
</html>
