<!DOCTYPE html>
<html>
    <head>
        <meta charset=UTF-8>
        <script src="https://code.angularjs.org/1.4.9/angular.min.js"></script>
        <script src="app.js"></script>
    </head>

    <body ng-app="myApp">
        <div ng-controller="myCtrl" align="center" ng-mousemove="beCareful($event)">
            <br><br>
            Current Time: {{curtime}} <br><br>
            {{timeoutInfo}} <br><br>
            <br><br>

            <div align="center">
                <div style="width:200px; height:200px"
                    id="logo-container"></div>
                <span><i>from metamask</i></span><br><br>
                <br>{{panelInfo}}<br><br>
                <button ng-click="checkReadiness()"> <h3>showThanksTo</h3> </button><br><br>
            </div>

            <div ng-if="srcReady">
                <img ng-repeat="url in thanksImageUrls" ng-src="{{url}}"
                    style="width:100px; height:100px"/>
            </div>
        </div>
    </body>

    <script src="bundle.js"></script>
</html>
